.hero {
    margin-bottom: $separation*2;
}

.hero__img {
    position: relative;
    height: 345px;
    background-image: url(../images/bg-intro-mobile.svg);
    background-size: cover;
    overflow: hidden;

    .img {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin-top: -$separation;
    }
}

.hero__text {
    text-align: center;
    

    h1 {
        margin-top: $separation;
    }

    p {
        margin: $separation/3 0 $separation/1.2 0;
    }
}